

.App {
  text-align: center;
  background-color: white;
  height: 2.5rem;
}


.App-header {
  background-color: #6A172F;
  min-height:25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5px;
  color: white;
}

.home-learning-image{
    height:18rem;
    width:auto;
    position: relative;
    padding: 1rem;
    margin-left: 5%;
   
}

.home-learning{
    height:15rem;
    width:25rem;
    position: relative;
    padding: 1rem;
    margin-left: 5%;
    
}